body {
    margin: auto;
    width: 60em;
    font-family: 'Helvetica';
    border: solid #6435ff 1px;
    border-radius: .5em;
    padding-top:50px;
}

.index-container {
    box-sizing: content-box;
}

.center-body {
    margin-top: 20px;
    border-radius: .5em;
    display: flex;
    Justify-content: center;
    Align-items: center;
}

.container{
    box-sizing: content-box;
    border: solid #6435ff 1px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 11em;
    padding-right: 8em;
    border-radius: .5em;
}

a.mark-solved {
    border: solid #22721471 0px;
    background-color: #ffffff;
    color: #247415;
    text-align: center;
    font-weight: bold;
    border-radius: .5em;
    padding-top:15px;
    min-width: 654px;
    height: 40px;
    font-size: 20px;   
}

a.mark-solved:hover {
    background-color: #247415;
    color: #ffffff;
    border-radius: .5em;
}

.solved-answer {
    border: solid #2a9018 5px;
    border-radius: .5em;
}


.index-head {
    border: solid #6435ff 0px;
    text-align: center;
    font-weight: bold;
    border-radius: .5em;
    word-wrap: break-word;
    max-width: 800px;
    height: 60px;
    display: flex;
}


.index-question-title {
    border: solid #6435ff 1px;
    min-width: 430px;
    padding:20px;
    border-radius: .5em;
    float: left;
}

.index-author {
    border: solid #6435ff 1px;
    padding: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: .5em;
    float: left;
    word-wrap: break-word;
    min-width: 83px;
}

.index-latest {
    border: solid #6435ff 1px;
    padding:10px;
    border-radius: .5em;
    float: left;
    min-width: 57px;
}

.index-body {
    display: flex;
    background-color:rgb(212, 199, 255);
    border-radius: .5em;
}

.index-body:nth-child(odd)  {
    background: white;
}

.index-time {
    padding: 10px;
    padding-top: 15px; 
    border: solid #6435ff 1px;
    width: 70px;
    border-radius: .5em;
    font-size: 10px;
    text-align: center;
}

.index-user {
    border: solid #6435ff 1px;
    border-radius: .5em;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 13px;
    word-wrap: break-word;
    width:85px;
    min-width: 85px;
    text-align: center;
}

a.index-link:hover {
    border-color: #6435ff;
    border: solid #6435ff 2px;
    border-radius: .5em;
}

.index-link {
    border: solid #6435ff 0px;
    flex: 85%;    
    font-weight: bold;
    word-wrap: break-word;
    max-width: 430px;
    text-align: center;
    padding:10px;
    padding-right:20px;
    padding-left:20px;
    font-size: 13px;
}





.edit-text {
    border: solid #6435ff 0px;
    border-radius: .5em;
    font-style: italic;
    font-size: 13px;
    position: absolute;
    bottom: -35px;
    margin-right:5px;
    right: 0;
}


.message {
    word-wrap: break-word;
    max-width: 800px;
    text-align: center;
}

.content {
    border: solid #6435ff 1px;
    padding-left: 0.5em;
    padding-right:0.5em;
    border-radius: .5em;
}


.post-head {
    white-space: initial;
    border: solid #6435ff 1px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: .5em;
    word-wrap: break-word;
    max-width: 800px;
}

.sort-options-container{
    padding: 20px; 
    padding-left:5em;
}

.post-container {
    box-sizing: content-box;
    margin-top: 50px;
}

.post-body {
    display: flex;  
}

textarea, form input[type="text"],input[type="password"] {
    border: solid #6435ff 2px;
    border-radius: .5em;
}

.post-author {
    border: solid #6435ff 1px;
    flex: 15%;
    font: 10px;
    padding:15px;
    border-radius: .5em;
    text-align:center;
    max-width:90px;
    word-wrap: break-word;
}

.post-content {
    border: solid #6435ff 1px;
    flex: 85%;
    padding:15px;
    border-radius: .5em;
    word-wrap: break-word;
    max-width: 500px;
    position: relative;
}



.points-container {
    padding-left: 5em;
    display: flex;
    align-items: center;
}

.points-element {
    margin-left: 1.5em;
    margin-right:1.5em;
}


.title {
    margin: auto;
    width: 60%; 
    margin-bottom: 0.5em;
    display: block;
    text-align: center;
}

.nav-panel {
    padding-top:  0.5em;
    padding-left: 11em;
    padding-right: 0.5em;
    margin-bottom: 3em;
}

.nav-link {
    display:block;
    text-align: center;
    box-sizing: border-box; 
    width:  112px;
    background: #6435ff;
    color:      #ffffff;
    padding:   8px;
    font-size: 13px;
    float: left;
    border-radius: 2em;
    margin-left: 1px;
    margin-right:1px;
}

a.nav-link:hover {
    border: solid #6435ff 1px;
    background-color: #ffffff;
    color: #6435ff;
}

a.result-link:hover {
    background-color:#ffffff;
    color:#6435ff;
    border: solid #6435ff 2px;
}

.result-link {
    border: solid #6435ff 1px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: .5em;
    display:block;
    word-wrap: break-word;
}
.result-link:nth-child(even) {
    background-color:rgb(212, 199, 255);
}