
{%extends "layout.html"%}

{% block title %} 
- Main Page
{% endblock %}

{% block content %}

{% if not display_list %}

<div class="center-body">
    There are no questions :( !
</div>

{%else%}

    <h2 style="text-align: center;"> Top 5 questions with the most recent replies! </h2>

    <div class="index-head">
        
    <div class="index-question-title">  Title           </div>
    <div class="index-author">          Posted by       </div> 
    <div class="index-latest">          Latest reply    </div>
        
    </div>
    
    <div class="index-container">
        {%for question in display_list: %}
            <div class="index-body">
                
                <a class ="index-link" href="{{url_for('question_thread',question_id = question.id, sort_option = 2)}}"> {{question.question_title}} </a>
                <div class="index-user">{{question.username}} </div> 
                <div class="index-time">
                    <p style="font-size: 12px;">{{question.time.strftime("%H:%M:%S [%d/%m/%y] ")}} </p>  
                </div>
            </div>
        {%endfor %}
    </div>


    
        
        
    



{%endif%}

{% endblock %}

