<!DOCTYPE html>

<html>

    <meta charset = "UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>HelpForum {%block title%} {%endblock%}</title>

<body>

    {% if session.username%}
    
        <h1 class="title"> Welcome to HelpForum, {{session.username}} ! </h1>

        <div class="nav-panel">
             <a class ="nav-link" href="/">                 Main Page        </a>
             <a class ="nav-link" href="/logout">           Logout           </a>
             <a class ="nav-link" href="/post_question">    Post a Question  </a>
             <a class ="nav-link" href="/my_questions">     My Questions     </a>
             <a class ="nav-link" href="/all_questions">    All Questions    </a>
             <a class ="nav-link" href="/search">           Search           </a>
        </div>
    
    {% else %}

        <h1 class="title"> Welcome to HelpForum! </h1>
        <div class="nav-panel">
            <a class ="nav-link" href="/">                Main Page       </a>
            <a class ="nav-link" href="/login">           Login           </a>
            <a class ="nav-link" href="/register">        Register        </a>
            <a class ="nav-link" href="/all_users">       All Accounts    </a>
            <a class ="nav-link" href="/all_questions">   User Questions  </a>
            <a class ="nav-link" href="/search">          Search           </a>
        </div>

    {%endif%}
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    

</body>
</html>