{%extends "layout.html"%}

{% block content %}

<h2>
Question: {{ title }}
</h2>


Description of question: {{ content }}
<br> 
<br> 
<br> 
Posted by: <b>{{username}} </b> at {{time.strftime("%Y-%m-%d %H:%M:%S")}} 

<form action="{{url_for('deleteQuestion', question_id = question_id, option=option)}}" method ="post"> 
    <input type="submit" name="Delete" value="Delete"> 
</form>

<br>
<br> 
<br>
<form action="{{url_for('sortBy', question_id = question_id)}}"  method="POST">    
    <input type="radio" name="option" value="1" {%if option=="1"%} checked {%endif%} onchange =this.form.submit()  > Newest           
    <input type="radio" name="option" value="2" {%if option=="2"%} checked {%endif%} onchange =this.form.submit() > Oldest         
    <input type="radio" name="option" value="3" {%if option=="3"%} checked {%endif%} onchange =this.form.submit() > Most points
    <input type="radio" name="option" value="4" {%if option=="4"%} checked {%endif%} onchange =this.form.submit() > Least points   
</form>

{% if not answers %}
<br> 
<br>
There are no answers yet :(
<br>
Be the first one :)!

{%else%}
    {%for i in answers: %}
    <h2> Answer #{{loop.index}}</h2>
    {{i[2]}}
    <br>
    <br>
    Posted by: <b>{{i[0]}} </b> at {{i[3].strftime("%Y-%m-%d %H:%M:%S")}}
    <form action="{{url_for('giveVote', question_id = question_id, answer_id=i[4], answer_points=i[5],option=option)}}" method="post">
    <input type="submit" name="vote" value="Upvote!">
    </form>
    <form action="{{url_for('giveVote', question_id = question_id, answer_id=i[4], answer_points=i[5],option=option)}}" method="post">
        <input type="submit" name ="vote" value="Downvote!">
        </form>
    Answer points: {{i[5]}}  


    {%if session.username == i[0]%}
    <form action="{{url_for('deleteAnswer', question_id = question_id, option=option, answer_id=i[4])}}" method ="post"> 
        <input type="submit" name="Delete" value="Delete"> 
    </form>
        <br> 
        <br>
    {%else%}
    {%endif%}

    <hr>
    {%endfor %}

{%endif%}

<h5> Post a new answer! </h5>
<form action="{{url_for('giveAnswer', question_id = question_id, option=option)}}" method="post">
    <textarea name="answer" rows="2" cols="60" placeholder = "Write your answer here"></textarea>
    <br>
    <input type="submit" value="Post answer">
    </form>

{% endblock %}