{%extends "layout.html"%}

{% block content %}

    <div class="post-container">

        <div class="post-head">
            {{ title }}
        </div>

        <div class="post-body">
            <div class="post-author">
                <p class="user-info"> Posted by: <b>{{username}} </b> <br> {{time.strftime("%Y-%m-%d %H:%M:%S")}}    </p>
                 
                {%if session.username == username%}
                    <form action="{{url_for('edit_question',question_id = question_id)}}" method ="post"> 
                        <input type="submit" name="edit_question" value="Edit"> 
                    </form>

                    <form action="{{url_for('delete_question', question_id = question_id, sort_option=sort_option)}}" method ="post"> 
                        <input type="submit" name="Delete" value="Delete"> 
                    </form>
                {%else%}
                {%endif%}
            </div>
            <div class="post-content">
                {{ content }}
            </div>
        </div>
    </div>

    {%if session.username %}
        <br>
        <b> Post a new answer! </b>
        <form action="{{url_for('post_answer', question_id = question_id, sort_option=sort_option)}}" method="post">
            <textarea name="answer" id="answer" rows="2" cols="88" placeholder = "Write your answer here"></textarea>
            <br>
            <input type="submit" value="Post answer">
        </form>

        <p><span id="answerWordCount"> 0/100 words</span></p> 

        <script
            src ="/static/wordCount.js"
            questionArea = "answer"
            questionDisplay ="answerWordCount"
            questionMin = "5"
            questionMax = "100">
        </script>

    {%else%}
        Login to answer!
    {%endif%}

    {% if not answers %}
        <br> 
        There are no answers yet :(
        <br>
        Be the first one :)!


    {%else%}

    <div class="post-body">
        <div class="message">
            <h4>#Answers: {{answers|length}} </h4>
        </div>
        <div class="sort-options-container">
            <form action="{{url_for('sort_by', question_id = question_id)}}"  method="POST">    
                <input type="radio" name="sort_option" value="1" {%if sort_option=="1"%} checked {%endif%} onchange =this.form.submit() > Newest           
                <input type="radio" name="sort_option" value="2" {%if sort_option=="2"%} checked {%endif%} onchange =this.form.submit() > Oldest         
                <input type="radio" name="sort_option" value="3" {%if sort_option=="3"%} checked {%endif%} onchange =this.form.submit() > Most points
                <input type="radio" name="sort_option" value="4" {%if sort_option=="4"%} checked {%endif%} onchange =this.form.submit() > Least points   
            </form>   
        </div>
    </div>
    
    
    {%for i in answers: %}
    <div class="post-container">
        <div class="post-body"> <!--I SHOULD PROBABLY RENAME THIS INTO HEAD? I mean it's a head, but i don't feel like copypasitng-->
            <div class="post-author">
                <b>Answer #{{loop.index}}</b>
            </div>

            <div class="post-content">
                <div class="points-container">
                    <div class="points-element">
                        <form action="{{url_for('give_vote', question_id = question_id, answer_id=i[4], answer_points=i[5],sort_option=sort_option)}}" method="post">
                            <input type="submit" name="vote" value="Upvote!">
                        </form>
                    </div>                    
                
                    <div class="points-element">
                        <form action="{{url_for('give_vote', question_id = question_id, answer_id=i[4], answer_points=i[5],sort_option=sort_option)}}" method="post">
                            <input type="submit" name ="vote" value="Downvote!">
                        </form>
                    </div>
                    <div class="points-element">
                        Answer points: {{i[5]}} 
                    </div>
                </div>
            </div>


        </div>
    
        <div class="post-body">
            <div class="post-author">
                Posted by: <b>{{i[0]}} </b> at {{i[3].strftime("%Y-%m-%d %H:%M:%S")}}
                {%if session.username == i[0]%}
                <form action="{{url_for('edit_answer',answer_id=i[4])}}" method ="post"> 
                    <input type="submit" name="edit_answer" value="Edit">   
                </form>
                
                <form action="{{url_for('delete_answer', question_id = question_id, sort_option=sort_option, answer_id=i[4])}}" method ="post"> 
                    <input type="submit" name="Delete" value="Delete"> 
                </form>
                {%else%}
                {%endif%}
            </div>
        
            <div class="post-content">
                {{i[2]}}
            </div>
        </div>
    </div>
    
    {%endfor %}
    {%endif%}





{% endblock %}