{%extends "layout.html"%}

{% block content %}

    <div class="post-container">

        <div class="post-head">
            {{question.question_title }}
        </div>

        <div class="post-body">
            <div class="post-author">
                
                <b style="font-size: 30px;"> {{question.username}} </b>
                <p style="font-size: 12px;">
                {{question.send_time.strftime("%H:%M:%S [%d/%m/%y] ")}}    
                </p>

                {%if session.username == question.username or session.username in admins%}
                
                    <form action="{{url_for('edit_question',question_id = question_id)}}" method ="post"> 
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="submit" name="edit_question" value="Edit"> 
                        
                    </form>

                    <form action="{{url_for('delete_question', question_id = question_id, sort_option=sort_option)}}" method ="post"> 
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="submit" name="Delete" value="Delete"> 
                    </form>
                {%else%}
                {%endif%}
            </div>
            <div class="post-content">
                {{question.content }}
                
                {%if question.edited_time%}
                <p class="edit-text">Edited at: {{question.edited_time.strftime("%Y-%m-%d %H:%M:%S")}}</p>
                {%endif%}

            </div>
        </div>
    </div>

    {%if session.username %}
        <br>
        <b> Post a new answer! </b>
        <form action="{{url_for('post_answer', question_id = question_id, sort_option=sort_option)}}" method="post">
            <textarea name="answer" id="answer" rows="2" cols="85" placeholder = "Write your answer here"></textarea>
            <br>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Post answer">
        </form>

        <p><span id="answerWordCount"> 0/100 words</span></p> 

        <script
            src ="/static/wordCount.js"
            questionArea = "answer"
            questionDisplay ="answerWordCount"
            questionMin = "5"
            questionMax = "100">
        </script>

    {%else%}
        Login to answer!
    {%endif%}

    {% if not answers %}
        <br> 
        There are no answers yet :(
        <br>
        Be the first one :)!


    {%else%}

    <div class="post-body">
        <div class="message">
            <h4>Answers: {{answers|length}} </h4>
        </div>
        <div class="sort-options-container">
            <form action="{{url_for('sort_by', question_id = question_id)}}"  method="POST">    
                <input type="radio" name="sort_option" value="1" {%if sort_option=="1"%} checked {%endif%} onchange =this.form.submit() > Newest           
                <input type="radio" name="sort_option" value="2" {%if sort_option=="2"%} checked {%endif%} onchange =this.form.submit() > Oldest         
                <input type="radio" name="sort_option" value="3" {%if sort_option=="3"%} checked {%endif%} onchange =this.form.submit() > Most points
                <input type="radio" name="sort_option" value="4" {%if sort_option=="4"%} checked {%endif%} onchange =this.form.submit() > Least points   
            </form>   
        </div>
    </div>
    
    
    {%for answer in answers: %}

    <div class="post-container">
        <div class="post-body">
            <div class="post-author">
                <b>Answer #{{loop.index}}</b>
            </div>

            <div class="post-content">
                <div class="points-container">
                    <div class="points-element">
                        <form action="{{url_for('give_vote', question_id = question_id, answer_id=answer.id, answer_points=answer.answer_points,sort_option=sort_option)}}" method="post">
                            <input type="submit" name="vote" value="Upvote!">
                        </form>
                    </div>                    
                
                    <div class="points-element">
                        <form action="{{url_for('give_vote', question_id = question_id, answer_id=answer.id, answer_points=answer.answer_points,sort_option=sort_option)}}" method="post">
                            <input type="submit" name ="vote" value="Downvote!">
                        </form>
                    </div>
                    <div class="points-element">
                        Answer points: {{answer.answer_points}} 
                    </div>
                </div>
            </div>
        </div>


        <div class="post-body">
            <div class="post-author">

                <b style="font-size: 20px;"> {{answer.username}} </b>
                
                <p style="font-size: 12px;">
                {{answer.send_time.strftime("%H:%M:%S [%d/%m/%y] ")}}</p>

                {%if session.username == answer.username or session.username in admins %}
                <form action="{{url_for('edit_answer',answer_id=answer.id)}}" method ="post"> 
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="submit" name="edit_answer" value="Edit">   
                </form>
                
                <form action="{{url_for('delete_answer', question_id = question_id, sort_option=sort_option, answer_id=answer.id)}}" method ="post"> 
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="submit" name="Delete" value="Delete"> 
                </form>
                {%else%}
                {%endif%}
            </div>
    
            <div class="post-content">
                {{answer.answer_content}}    

                {%if answer.edited_time%}
                    <p class="edit-text">Edited at: {{answer.edited_time.strftime("%Y-%m-%d %H:%M:%S")}}</p>
                {%endif%}
            </div>
        </div>
    </div>
    
    {%endfor %}
    {%endif%}


{% endblock %}