{%extends "layout.html"%}

{% block title %} 
- Post New Question
{% endblock %}

{% block content %}

<form action="/post_question" method="post">
    Post a question! 
    <br>

    <textarea name ="title" id = "title" rows="1" cols ="88" placeholder = "Title of your question"></textarea>
    <br>

    <p><span id="charCount"> 0/150 characters</span></p>
    
    <script
        src ="/static/charCount.js"
        titleArea = "title"
        titleDisplay ="charCount"
        titleMin = "5"
        titleMax = "150"
        >
    </script>

    <textarea name="question" id ="question" rows="5" cols="88" placeholder = "Describe your question with further details"></textarea>
    <br>

    <p><span id="questionWordCount"> 0/200 words</span></p> 

    <script
        src ="/static/wordCount.js"
        questionArea = "question"
        questionDisplay ="questionWordCount"
        questionMin = "5"
        questionMax = "200">
    </script>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Post question">
    </form>

{% endblock %}
