
    {%extends "layout.html"%}

    {% block content %}
    
        {% if not question_list %}

            There are no questions :( !

        {%else%}
            
            Click on the question to browse it!
            <br>
            <h3>Number of replies?!!!!!!!!!!!!!!!!!!!!!!! and other information!</h3>

            <ul>
                {%for i in question_list: %}
                    <a class="question-link" href="{{url_for('question_url',question_id = i[1], sort_option = 2)}}"> {{i[0]}} </a>
                {%endfor %}
            </ul>
     
         {%endif%}


    {% endblock %}