{%extends "layout.html"%}

{% block title %} 
- Register
{% endblock %}

{% block content %}

{%if session.username%} 

    <h1 style="text-align:center">You cannot register when you are already logged in! </h1> 

{%else%}
    <h1>Please register </h1> 
    
    <form action="/register" method="POST">
    Username: 
    <br>
    <input type="text" name="username" placeholder="Max 15 characters">
    <p>
    Password: 
    <br>
    <input type="password" name="password">
    <p>
    Retype password: 
    <br>
    <input type="password" name="password_repeat">
    <p>
    <input type="submit" value="Create account!">
    
    </form>

{%endif%}

{% endblock %}
