{%extends "layout.html"%}

{% block title %} 
- Search
{% endblock %}

{% block content %}

<form action="/search" method="post">
    <br>
    <br>
    <br>

    Enter search words!
    <br>
    <br>
    <textarea name="search" id ="search" rows="2" cols="88" placeholder =  "Search"></textarea>
    <br>

    <p><span id="searchWordCount"> 0/50 words</span></p> 

    <script
        src ="/static/wordCount.js"
        questionArea = "search"
        questionDisplay ="searchWordCount"
        questionMin = "1"
        questionMax = "50">
    </script>

    <b>Search from:</b>
    

    <input type="checkbox" name="search_option" value="users"> Users       
    <input type="checkbox" name="search_option" value="questions"> Questions
    <input type="checkbox" name="search_option" value="answers"> Answers

    <br>
    <br>

    Specify a username into the search query. If left empty, will search from all users.
    Only works for question and answer queries.
    <textarea name="posted_by" id ="posted_by" rows="2" cols="88" placeholder = "Enter a username"></textarea>

    <br>
    <br>
    <br>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Search!">
    

    <h1>{{message}}</h1>
</form>




{% endblock %}